:root {
    /* here variables goes */
    --color-primary: #cb5c47;
    --color-secondary: #035F4F;
  }
  
  /* importar bootstrap */
  @import '~bootstrap/dist/css/bootstrap.min.css';
  
  /* .btn--primary {
    color: var(--color-primary);
  }
   */

  .photo {
    max-width:300px;
}

