:root {
  /* Colores */
  --color-light: #CCC9C3;
  --color-lighter: #E7E3DC;
  --color-dark: #555555;
  --color-darker: #2F2F2F;

  --color-yellow: #c07702;
  --color-orange: #CB5C47;
  --color-pink: #E04F88;
  --color-purple: #8558C8;
  --color-green: #86991C;
  --color-periwinkle: #5881CB;

  /* Fuentes */
  --font-headings: 'Bricolage Grotesque', sans-serif;
  --font-body: "Fira Mono", monospace;

  /* Spacers */
  --spacer-lg: 3rem;
  --spacer-md: 1rem;
  --spacer-sm: 0.5rem;
}

/* importaciones */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fira+Mono:wght@400;500;700&display=swap');


body.container-portfolio {
  margin: 0 auto;
  color: var(--color-darker);
  background-color: var(--color-lighter);
  font-family: var(--font-body);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

*::selection {
  background-color: var(--color-pink);
  color: var(--color-lighter);
}

*:focus {
  background-color: var(--color-periwinkle);
}

footer.my-footer p {
  background-color: var(--color-light);
  padding: 1rem;
  text-align: center;
  margin-bottom: 0;
}

section {
  padding: var(--spacer-lg);
}

#contact li,
#contact a {
  list-style: none;
  color: var(--color-darker);
  text-decoration: none;
}

#contact li:hover,
#contact a:hover {
  cursor: pointer;
  font-weight: bold;
  color: var(--color-purple);
}


button a:hover {
  color: var(--color-yellow);
  text-decoration: underline;
}

/* Fonts */
h1.title {
  font-family: var(--font-headings);
  font-size: 5rem;
  font-weight: bolder;
  position: relative;
  z-index: 0;
}

h2,
h3,
h4 {
  font-family: var(--font-headings);
  padding: var(--spacer-md);
}

.title::after {
  content: attr(data-text);
  position: absolute;
  left: 5px;
  top: 2px;
  z-index: -1;
  background-image: linear-gradient(to right, var(--color-yellow), var(--color-orange), var(--color-pink), var(--color-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/* Icons */
.icon-large {
  color: var(--color-yellow);
  font-size: 1rem;
}



/* Navbar */
.navbar.nav-bar {
  background-color: var(--color-light);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 2;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: var(--color-pink);
  color: var(--color-lighter);
}

/* styles to make active link different */
.navbar .navbar-nav .nav-link.active {
  color: var(--color-lighter) !important;
  font-weight: bold;
  background-color: var(--color-orange);
}

.nav-bar-icon {
  display: block;
  max-width: 3rem;
}



#about * img {
  background-color: var(--color-yellow);
  width: 100%;
  border-radius: 50%;
  height: auto;
  /* float: left;
  shape-outside: ellipse(150px 150px at 50% 50%);
  margin-right: 1rem; */
}


/* Buttons */
a.a-button {
  border: solid 0.5rem var(--color-orange);
  padding: 1rem;
  font-size: larger;
  color: var(--color-orange);
  text-decoration: none;
}

a.a-button:hover {
  background-color: var(--color-purple);
  color: var(--color-lighter);
  text-decoration: none;
  border: solid 0.5rem var(--color-purple);
}


button.my-button {
  border: solid 0.5rem var(--color-orange);
  padding: 1rem;
  font-size: larger;
  color: var(--color-orange);
  background-color: transparent;
}

button.my-button:hover {
  background-color: var(--color-purple);
  color: var(--color-lighter);
  text-decoration: none;
  border: solid 0.5rem var(--color-purple);
}


/* Class elements */
.project-detail {
  border: 0.5rem solid var(--color-green);
  ;
}

.rect-rojo {
  background-color: red;
  padding: 0.5rem;
}

.rect-img {
  background-image: url("./src/paisaje_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
}

/* heart icon */
.icon-outline{
color: var(--color-yellow);
font-size: 5rem;
}
.icon-outline:hover{
  display: none;

  }

.icon-color{
color: var(--color-yellow);
font-size: 5rem;
}

.icon-color:hover{
  color: var(--color-green);
  font-size: 5rem;
  }


/* stack section */
#stack {
  display: flex;
  flex-direction: column;
}

.stack__content {
  width: 50vw;
  margin: auto;
  align-self: center;
}

.project-detail{
  padding: var(--spacer-sm) 0 ;
}


/* CSS reasignación de orden en layout mobile  */
.image-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

